{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 110,
  "tabWidth": 2,
  "endOfLine": "auto"
}
